body {
  background-color: #FAFAFA;
  color: #000;
}

#root {
  height: 100%;
}

.layout {
  height: 100%;
}

.header {
  background-color: #fff;
  width: 100%;
  height: 80px;
  padding: 0;
  border-bottom: 1px solid #e8e8e8
}

.content-body {
  background-color: #FAFAFA;
  height: 100%;
}

.content {
  height: 100%;
  width: 72%;
  position: relative;
  left: calc(50% - 72%/2);
}

.login-form {
  background-color: #fff;
  width: 510px;
  height: 520px;
  border: 1px solid rgba(39, 39, 39, 0.1);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 45px 88px 60px;
  position: relative;
  top: 140px;
  left: calc(50% - 510px/2);

  &__item {
    margin-bottom: 20px;
  }

  &__logo {
    width: 88px;
    height: 88px;
    position: relative;
    left: calc(50% - 88px/2);
    margin-bottom: 6%;
  }

  &__title {
    width: 333px;
    position: relative;
    left: calc(50% - 333px/2 + 0.5px);
    line-height: 28px;
    text-align: center;
  }

  &__submit-button {
    width: 176px;
    height: 52px;
    position: relative;
    bottom: 0;
    left: calc(50% - 176px/2);
  }
}

.menu {
  font-size: 18px;

  &__item {
    height: 100%;

    &__title {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__logo {
      height: 80px;
      margin-right: 3%;
      display: flex;
      justify-content: center;
      align-items: center;
      float: left;
    }

    &_right {
      float: right;
    }
  }
}

.search_main {
  position: relative;
  width: 66%;
  top: 22%;
  left: calc(50% - 66%/2);
  text-align: center;
}

.search_second {
  position: relative;
  width: 100;
}

.filter {
  margin-top: 2em;
  margin-bottom: 1.5em;
  font-size: 16px;

  &_right {
    float: right;
    font-size: 24px;
  }

  &__icon {
    padding: 8px;
    opacity: 0.3;

    &_active {
      opacity: 1;
    }
  }
}

.videoItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: #000;

  &__info {
    display: flex;
    flex-direction: column;

    &__title {
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    &__description {
      display: flex;
      flex-direction: column;
      color: rgba(23, 23, 25, 0.3);

      &__channel {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &__view {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &_list {
    flex-direction: row;
    align-items: stretch;

    .videoItem {
      &__thumbnail {
        margin-right: 1em;
      }

      &__info {
        justify-content: space-around;
      }

    }
  }
}

.button {
  border: 0;
  padding: 0;

  &_change {
    color: #1390E5;
  }

  &_remove {
    color: red;
  }
}

.ant-form-vertical .ant-form-item-label {
  padding: 0;
}
